.auth-layout {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.auth-container {
    width: 100%;
    max-width: 450px;
}

.auth-logo {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #1861ac;
}